<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>Music App by Joohyong Han (Josh)</h1>
    <br>
    <%if logged_in?%>
      <nav>
        <a class= "button" href="<%=session_url%>">Sign Out</a>
        <p> Current user is <%=current_user.email%></p>
      </nav>
    <%end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
